@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Works in Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px; /* width of vertical scrollbar */
  height: 10px; /* height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #e5e5e5; /* background of scrollbar track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #e5e5e5; /* color of scrollbar thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e5e5e5; /* color when hovering */
}

/* Works in Firefox */
* {
  scrollbar-width: thin; /* "auto" | "thin" */
  scrollbar-color: #000 #e5e5e5; /* thumb | track */
}

body {
  font-family: var(--font-cascadia);
  background-color: #e5e5e5 !important;
}
